body {
  width: 100vw;
  font-size: 10px;
  font-family: 'PT Serif', serif;
  color: rgb(29, 17, 56);
}

main {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 10px;
  color: white;
  background-color: rgb(29, 17, 56);
  font-family: 'Inconsolata', monospace;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-family: 'Mochiy Pop P One', sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

section {
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  background-color: rgb(29, 17, 56);
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

section:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.input-score {
  padding-bottom: 2rem;
}

.input-score::before {
  bottom: 0;
}

.button {
  width: 100px;
  height: 30px;
  background-color: rgb(29, 17, 56);
  color: white;
  border: none;
  border-radius: 15px;
  transition: filter 250ms ease-in;
}

.button:hover {
  cursor: pointer;
  filter: invert(80%);
}

.scores > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}

.row > section {
  min-width: 400px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form > button {
  align-self: flex-end;
}

#score-display {
  border-radius: 20px;
  overflow: hidden;
}

#score-display > li:nth-child(even) {
  /* background-color: rgb(88, 86, 86); */
  filter: invert();
}

.input {
  outline-offset: 5px;
  outline: 1.5px solid rgb(29, 17, 56);
  margin: 15px 0;
  border: none;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 2px 0;
  text-indent: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
